body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 50px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

button:active {
    background-color: aqua;
}

img {
    width: 150px;
}
a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: aqua;
}

.navbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.main {
    margin-left: 20%; /* Same as the width of the sidebar */
    padding: 10px 10px;
}

@media screen and (max-height: 450px) {
    .navbar {padding-top: 15px;}
    .navbar {font-size: 18px;}
}

#activeLink {
    color: aqua;
    text-decoration: none;
}

#activeLink:hover {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}